.container{width:1050px;}
.slicknav_menu {
display: none;
}
.mainmenu{display:block;}
#nav a {
padding: 5px 21px;
font-size: 12px;
}
.upper_menu{display:block;}
.upper_menu ul li a {
padding: 0px 12px;
font-size: 12px;
}
h3.dept_name {
font-size: 22px;
}
section.slider {
  min-height: 410px;
  overflow: hidden;
  margin-right: -25px;
}
.search_area {
float: right;
margin-top: 25px;
}
.recents_notice_area {
height: 204px;
overflow: auto;
}
.recents_events_area.fix {
height: 162px;
overflow: auto;
}
section.chr_text.fix h2 {
font-size: 23px;
}
.wel_mess_area.fix {
margin-right: -25px;
}
.chr_mess_area.fix h2 {
font-size: 21px;
}
.single_post {
  margin-left: -14px;
}
.single_post h2 a {
font-size: 25px;
}
.teacher_info {
  width: 535px;
}
.faculty_member .recents_notice_area{height:auto;}
.faculty_member .recents_events_area.fix{height:auto;}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
.container{width:750px;}
.slicknav_menu {
display: none;
}
.mainmenu{display:block;}
#nav a {
padding: 5px 5px;
font-size: 11px;
}
.upper_menu{display:block;}
.upper_menu ul li a {
padding: 0px 6px;
font-size: 11px;
}
h3.dept_name {
font-size: 15px;
}

section.slider {
min-height: 335px;
overflow: hidden;
margin-right: -25px;
}
.search_area {
float: right;
margin-top: 25px;
}
section.chr_text.fix h2 {
font-size: 22px;
}
.wel_mess_area.fix {
margin-right: -25px;
}
.chr_mess_area.fix h2 {
font-size: 14.5px;
}
.chr_mess.fix {
line-height: 1.4;
}
.item-title.fn a {
font-size: 12px;
}
span.activity {
font-size: 10px;
}
.single_left_sidebar h2,.single_left_sidebar h2 a{font-size:20px;}
.single_post {
  margin-left: -14px;
}
.single_post h2 a {
font-size: 21px;
}
.faculty_member .recents_notice_area{height:auto;}
.faculty_member .recents_events_area.fix{height:auto;}

.teacher_info {
  width: 329px;
}
h2.teacher_name {
  font-size: 17px;
}
h3.designation {
  font-size: 14px;
}


}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {

.container{width:470px;}
.slicknav_menu {
display: block;
}
.mainmenu{display:none;}
.upper_menu{display:none;}
h3.dept_name {
font-size: 22px;
}
section.slider {
min-height: 315px;
overflow: hidden;
margin-right: 0px;
}
.search_area {
margin: 0 auto;
margin-top: 10px;
float: none;
display: table;
}
.intro_photos_area.fix .col-md-3.col-sm-3 {
margin: 0 auto;
display: table;
margin-bottom: 12px;
}
section.chr_text.fix h2 {
font-size: 19px;
}
.chr_mess_area.fix h2 {
font-size: 17px;
}
.wel_mess_area.fix {
margin-right: 0px;
}
.single_left_sidebar h2,.single_left_sidebar h2 a{font-size:20px;}
.single_post {
  margin-left: 0px;
}
.single_post h2 a {
font-size: 21px;
}
.faculty_member .recents_notice_area{height:auto;}
.faculty_member .recents_events_area.fix{height:auto;}
.slicknav_menu span.glyphicon.glyphicon-play{display:none;}

.teacher_info {
  width: 100%;
  float: none;
}



}

/* Mobile Layout: 320px. */

@media only screen and (max-width: 479px) {

.container{width:100%;}
.slicknav_menu {
display: block;
}
.mainmenu{display:none;}
.upper_menu{display:none;}
h3.dept_name {
font-size: 13.5px;
}
section.slider {
display:none;
}
.search_area {
margin: 0 auto;
margin-top: 10px;
float: none;
display: table;
}
.intro_photos_area.fix .col-md-3.col-sm-3 {
margin: 0 auto;
display: table;
margin-bottom: 12px;
}
section.chr_text.fix h2 {
font-size: 19px;
}
.chr_mess_area.fix h2 {
font-size: 17px;
}
.wel_mess_area.fix {
margin-right: 0px;
}
.single_left_sidebar h2,.single_left_sidebar h2 a{font-size:18px;}
.single_post {
  margin-left: 0px;
}
.single_post h2 a {
font-size: 21px;
}
.faculty_member .recents_notice_area{height:auto;}
.faculty_member .recents_events_area.fix{height:auto;}
.slicknav_menu span.glyphicon.glyphicon-play{display:none;}

.teacher_info {
  width: 100%;
  float: none;
}

h2.page_header {
  font-size: 20px;
}


}





